.class {
    background-color: rgb(175, 190, 211);
}



.lol {
    border-radius: 34px;

}

.MAX {
    background-color: rgb(115, 117, 168);
    border-radius: 34px;
    font-size:35px;
    font-weight:bolder;
    background-size: 12px;
}



.sosat {
    position: absolute;
    top: -99px;
    right: -130px;
    
}